body {
  background-color: #f8f9fa;
}

#btncarrito{ 
  position:fixed;
  margin-left:81.8%;
  top:2em;
}

.product-card {
  background-color: #e9ecef;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.product-img {
  border-radius: 8px;
  width: 100%;
  max-width: 150px;
  object-fit: cover;
}

.product-info {
  font-size: 0.95rem;
}

.btn-qty {
  width: 30px;
  height: 30px;
  padding: 0;
  line-height: 1;
}

.summary-box {
  background-color: #dee2e6;
  border-radius: 10px;
  padding: 20px;
}

.btn-buy {
  background-color: #ffd66b;
  border: none;
  font-weight: bold;
  width: 100%;
  transition: 0.3s;
}

.btn-buy:hover {
  background-color: #ffc107;
}

.back-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

.back-link:hover {
  text-decoration: underline;
}
h6, h5{
    color: black;
}