body{
    color:black;
    background-color: #d9dedf;
    background-size: cover;
}

p{
    font-size:2em;
    color:black;
    font-family:'Trebuchet MS';
}

#principal{
    display:flex;
    gap:2em;
}

.azul{
    background-color: #576b6d8c;
    border-bottom: solid 2px rgb(212, 240, 240);
}

#bloque{
    display:flex;
    margin:2em;
    margin-left:0em;
    gap:2.4em;
}

#info{
    background: rgb(238, 238, 238);
    width:30em;
    height: 40em;
    text-align: center;
    padding-top:1em;
    display:flex;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(150, 145, 145, 0.11);
    transition: box-shadow 0.3s ease;
    opacity: 0.95;
    align-items: center;
}

#info:hover{
    box-shadow: 0 4px 20px rgba(150, 145, 145, 0.281);
}

.imagen{
    min-height:30em;
    min-width:50em;
    border-radius:2em;
    transition: transform 0.3s ease;
}

.imagen:hover{
    transform: scale(1.03);
}

#imagenprincipal{
    min-height:30em;
    min-width:50em;
    border-radius:2em;
    transition: transform 0.3s ease;
}

.imag{
    height:5em;
    width:8em;
    margin-left:1em;
    transition: transform 0.5s ease, border-radius 0.5s ease;
    border-radius: 5px;
    
}

.imag:hover{
    border-radius: 0px;
    transform:scale(1.05);
}

.imagenes{
    display:flex;
    align-items:center;
    margin-top:1em;
    margin-left:1em;

}

.description{
    width:60%;
    height:40em;
    color: black;
    font-family:'Trebuchet MS';
    font-size:1em;
}


.btn.precio{
    text-align:center;
    align-items:center;
    width:100%;
    height:100%;
    font-size:1.5em;
    font-family:'Trebuchet MS';
    background-color: #e99f16;
    cursor:default;
    border:solid 3px rgb(238, 238, 238);
    opacity:1;
    
    
}

.juntos{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}

#comprar{
    background-color: #83a6a8;
    font-size:1.5em;
    font-family:'Trebuchet MS';
    border:solid 3px #83a6a8;
    border-color:rgb(238, 238, 238);
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

#comprar:hover{
    background: rgb(238, 238, 238);
    border-color: #83a6a8;
    color:black;

}

#vendidos{
    margin-top: 2em;
    margin-right:9em;

    display:grid;
    grid-template-columns: repeat(2,1fr);
}

.btn.category{
    text-align:center;
    font-size:0.9em;
    cursor: default;
    width:10em;
    height:1em;
}

.btn.masvendido{
    width: 8em;
    height:2em;
    text-align: center;
    padding-top:0.2em;
    background-color: #e99f16;
}

.arriba{
    margin-bottom:0;
    display:grid;
    gap:0;
    grid-template-columns: repeat(2,1fr);
}

.hidden{
    display:none;
}
